.skeleton-wrapper {
  margin-right: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.skeleton-card {
  width: 100%;
  height: 100%;
  background: #333;
  background: linear-gradient(110deg, #333 8%, #444 18%, #333 33%);
  border-radius: 4px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.skeleton-poster {
  width: 150px;
  height: 100px; /* Non-large height */
}

.skeleton-poster-large {
  width: 170px; /* Approx width */
  height: 250px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
