version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: adv-js-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=postgres
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ../movie_db.csv:/docker-entrypoint-initdb.d/movie_db.csv
